*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
}

.imgHome{
    margin-top: 5vh;
    margin-left: 3vw;
    width: 45vw;
    height: 80vh;
}

.imgHome2{
    margin-top: 10vh;
    width: 45vw;
    height: 80vh;
    margin-left: 10vw;
}

.logoCoover{
    margin-left: 3vw;
    width: 15vw;
    height: 15vh;
}

.logoCoover2{
    margin-top: 20vh;
    margin-left: 7vw;
    width: 15vw;
    height: 15vh;
}

.testeCoover{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding-left: 3vw;
    padding-right: 3vw;
}

.conectarWallet{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    width: 22vw;
    margin-left: 3vw;
}

.homeText{
    margin-top: 20vh;
}

.logoMeta{
    width: 3vw;
    height: 5vh;
}

.home{
    display: flex;
}

#metamask{
    display: flex;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;  
}

.textTitulo{
  
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 3vw;
}

#continuar{
    
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

    padding: 10px;
  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 9vw;
    margin-left: 3vw;
}
.inputValue{
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 7vw;
}

.inputImei{
    width: 25vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
    margin-left: 7vw;
    margin-top: 2vh;
    text-decoration: none;
    outline: 0;
    padding: 10px;
    font-size: 1.1rem;
}

.text3{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin-left: 7vw;
}

.text{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 3vw;
}

button{
    padding: 5px;
    background-color: #00C171;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30vw;
}

.hash{
    padding: 10px;
    background-color: #00C171;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 7vw;
    width: 10vw;
}
  
.hash2{
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-left: 7vw;
}

@media (max-width: 1000px) {
    .imgHome2 {
      display: none;
    }

    .imgHome {
        display: none;
    }

    .testeCoover{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        text-align: center;
        padding-left: 8vw;
    }

    .logoCoover, .logoCoover2{
        margin-left: 8vw;
        width: 35vw;
        height: 15vh;
    }
    
    .conectarWallet{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        width: 46vw;
        margin-left: 8vw;
    }

    .logoMeta{
        width: 5vw;
        height: 4vh;
        margin-right: 1vw;
    }

    .textTitulo{
        margin-top: 5vh;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        margin-left: 8vw;
    }

    .text{
        margin-top: 3vh;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7rem;
        margin-left: 8vw;
    }

    #continuar{
    
        font-size: 0.8rem;
        padding: 10px;
        margin-left: 8vw;
        width: 20vw;
    }

    .text3{
        margin-top: 3vh;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        margin-left: 8vw;
    }

    .inputImei{
        width: 50vw;
        margin-left: 8vw;
        font-size: 0.8rem;
    }

    .inputValue{
        margin-left: 8vw;
    }

    .hash{
        padding: 10px;
        margin-top: 3vh;
        font-size: 0.8rem;
        margin-left: 8vw;
        width: 22vw;
    }

    .hash2{
        padding: 10px;
        font-size: 0.6rem;
        margin-left: 7vw;
    }
}