
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) { 


    .alinhamentoUser{
        display: flex;
    }
    .navbar{
        display: none;
    }


    


    .indenizacao{
        display: inline-flex; 
        align-items: flex-start;
    }

    .imgSetaEsquerda{
        margin-top: 3rem;
        margin-left: 3rem;
        width: 5vw;
    }

    .tituloIndenizacao{
        margin-top: 3rem;
        margin-left: 3rem;
        color: #F2F2F2;
    }

    .imgEthereum{
        margin-top: 3rem;
        margin-left: 2rem;
    }




    .tituloSinistro{
        color: #ffffff;
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-top: 2.5rem;
    }

    .primeiroCard{
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .segundoCard{
        margin-left: 2rem;
        margin-top: 0.7rem;
    }

    .cardDashboard{
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        width: 80vw;
        border-radius: 1vh;
        height: 10vh;
    }

    .imgBotaoUser{
        height: 3rem;
    }

    .texto{
        margin-left: 1rem;
        width: 50vw;
        text-align: left;
        color: #F2F2F2;
    }

    .cardTitulo{
        font-size: 20px;
    }

    .cardTexto{
        font-size: 12px;
    }



   


    .tituloWallet{
        margin-left: 2rem;
        margin-top: 1.5rem;
        color: #F2F2F2;
    }

    .tituloWalletGrupo{
        margin-left: 2rem;
        margin-top: 1rem;
        color: #F2F2F2;
    }

    .cardWallet, .cardWallet{
        margin-left: 2rem;
        width: 80vw;
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        height: 5vh;
        border-radius: 1vh;
        margin-top: 0.5rem;
    }

    .cardWalletTexto{
        color: #9D9D9D;
        margin-left: 0.5rem;
    }




    .tituloAndamento{
        margin-left: 2rem;
        margin-top: 1.5rem;
        color: #F2F2F2;
    }

    .cardSinistro{
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        width: 80vw;
        border-radius: 1vh;
        margin-left: 2rem;
        margin-top: 1rem;
        height: 8vh;
    }

    .cardTituloSinistro{
        color: #F2F2F2;
        margin-left: 1rem;
        font-size: 18px;
    }

    .cardTextoSinistro{
        font-size: 12px;
        color: #F2F2F2;
        margin-left: 2rem;
        width: 50vw;
        text-align: left;
    }
    
}



@media (min-width: 1024px) and (max-width: 1920px) { 

    .alinhamentoUser{
        display: flex;
    }
    .navbar{
        width: 15vw;
        flex-direction: column;
        background-color: #09090A;
    }

    .logo {
        width: 10vw;
        margin-top: 2rem;
    }

    .pesquisa{
        width: 13vw;
        margin-top: 3rem;
        padding: 0.8rem;
        display: flex;
        border: none;
        outline: none;
        border-radius: 8rem;
        background-color: #1F1F22;
    }

    .barraPesquisa{
        background-color: #1F1F22;
        border: none;
        text-indent: 1.3rem;
        color: #EFEFEF;
        font-size: .8rem;
        width: 10vw;
    }

    .opcoesNavbar{
        margin-top: 1.5rem;
        padding-top: 2rem;
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }

    .sidebarInicio, .sidebarSolicitacoes, .sidebarIndenizacoes{
        display: flex;
        margin-bottom: 1.2rem;
    }

    .imgSidebar{
        margin-left: 0rem;
    }

    .textoSidebar{
        margin-left: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #EFEFEF;

    }

    .saida {
        background-color: transparent;
        border: none;
        margin-top: 12rem;

    }





    


    .indenizacao{
        display: inline-flex; 
        align-items: flex-start;
    }

    .imgSetaEsquerda{
        margin-top: 3rem;
        margin-left: 3rem;
        width: 1vw;
    }

    .tituloIndenizacao{
        margin-top: 3rem;
        margin-left: 3rem;
        color: #F2F2F2;
    }

    .imgEthereum{
        margin-top: 3rem;
        margin-left: 2rem;
    }




    .tituloSinistro{
        color: #ffffff;
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .primeiroCard{
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .segundoCard{
        margin-left: 2rem;
        margin-top: 0.7rem;
    }

    .cardDashboard{
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        width: 40vw;
        border-radius: 1vh;
    }

    .imgBotaoUser{
        height: 3rem;
    }

    .texto{
        margin-left: 2rem;
        width: 50vw;
        text-align: left;
        color: #F2F2F2;
    }

    .cardTitulo{
        font-size: 18px;
    }

    .cardTexto{
        font-size: 12px;
    }



   


    .tituloWallet{
        margin-left: 2rem;
        margin-top: 1.5rem;
        color: #F2F2F2;
    }

    .tituloWalletGrupo{
        margin-left: 2rem;
        margin-top: 1rem;
        color: #F2F2F2;
    }

    .cardWallet, .cardWallet{
        margin-left: 2rem;
        width: 40vw;
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        height: 5vh;
        border-radius: 1vh;
        margin-top: 0.5rem;
    }

    .cardWalletTexto{
        color: #9D9D9D;
        margin-left: 0.5rem;
    }




    .tituloAndamento{
        margin-left: 2rem;
        margin-top: 1.5rem;
        color: #F2F2F2;
    }

    .cardSinistro{
        display: flex;
        border: none;
        background-color: #1C1B20;
        align-items: center;
        text-decoration: none;
        width: 40vw;
        border-radius: 1vh;
        margin-left: 2rem;
        margin-top: 1rem;
        height: 8vh;
    }

    .cardTituloSinistro{
        color: #F2F2F2;
        margin-left: 1rem;
        font-size: 18px;
    }

    .cardTextoSinistro{
        font-size: 12px;
        color: #F2F2F2;
        margin-left: 2rem;
        width: 50vw;
        text-align: left;
    }

}

