body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

.alinhamentoPagina{
    display: flex;
    justify-content: space-between;
}


nav {
    width: 20vw;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #09090A;
}
input{
    color: #F2F2F2;
}
::placeholder{
    color: #F2F2F2;
}
nav .logo {
    background-image: url(../../../img/LogoCoover.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    align-self: center;
    height: 4rem;
}

nav input {
    width: 80%;
    align-self: center;
    margin-top: 1.5rem;
    padding: .8rem;
    border: none;
    outline: none;
    border-radius: .7rem;
    background-color: #1F1F22;
    background-image: url(../../../img/search.png);
    background-repeat: no-repeat;
    background-position: .3rem center;
    text-indent: 1.3rem;
}

nav input::placeholder {
    color: #EFEFEF;
    font-size: .8rem;
}

nav ul {
    padding-top: 2rem;
}

nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li .sidebar-dashboard {
    background-image: url(../../../img/sidebar-home.png);
}

nav ul li .sidebar-revenue {
    background-image: url(../../../img/revenue.png);
}

nav ul li .sidebar-notifications {
    background-image: url(../../../img/notifications.png);
}

nav ul li .sidebar-analytics {
    background-image: url(../../../img/analytics.png);
}

nav ul li .sidebar-inventory {
    background-image: url(../../../img/inventory.png);
}

nav ul li a {
    display: inline-flex;
    align-items: center;
    margin: 1rem 0;
    width: 80%;
    font-size: .9rem;
    text-indent: 2.3rem;
    color: #EFEFEF;
    text-decoration: none;
    background-position: .3rem;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .logout {
    background-image: url(../../../img/logout.png);
    background-repeat: no-repeat;
    background-position: .3rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background-color: transparent;
    text-indent: 1.5rem;
}

.voltar{
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) { 

    .imgData{
        width: 4vw;
        height: 4vw;
    }

    .info-wrapper{
        margin-top: 5vw;
    }
    
    main {
        width: 100vw;
        padding: 3rem;
    }
    
    main h1 {
        font-size: 1.7rem;
        color: #F2F2F2;
        display: inline-flex;
        align-items: center ;
    }
    
    main h2 {
        font-size: 1.3rem;
        color: #fff;
        margin-top: 2rem;
    }

    
    main .saldo-total {
        padding: .9rem;
        background-color: #303030;
        font-size: 1rem;
        border-radius: .4rem;
        width: 70vw;
    }
    
    main button {
        margin-top: 2rem;
        padding: .8rem 1rem;
        width: 70vw;
        font-weight: bold;
    }
    
    .background-image {
        display: none;
    }

    label{
        color: #fff;
    }
    

}


@media (min-width: 1024px) and (max-width: 1920px) { 

    .imgData{
        width: 1.5vw;
        height: 1.5vw;
    }
    
    main {
        width: 50vw;
        padding: 3rem;
    }
    
    main h1 {
        font-size: 1.7rem;
        color: #F2F2F2;
        display: inline-flex;
        align-items: center ;
    }
    
    main h1 img {
        height: auto;
        margin-left: 1rem;
    }
    
    main h2 {
        font-size: 1.3rem;
        color: #fff;
        margin-top: 2rem;
    }
    
    main .info-container {
        width: 100%;
        margin-top: 1rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    
    main .info-container .info-wrapper {
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    
    main .info-container .info-wrapper:last-child {
        width: 100%;
        grid-column: 1 / -1;
    }
    
    main .info-container label {
        color: #fff;
        font-size: .9rem;
        margin-bottom: .7rem;
    }
    
    main .info-container select {
        padding: .8rem;
        border-radius: .3rem;
        background-color: #303030;
        color: #fff;
        border: none;
    }
    
    main .info-container .info-value {
        text-indent: 1.4rem;
        border-radius: .3rem;
        padding: .7rem;
        background-color: #303030;
        font-size: 1rem;
    }
    
    main .info-container .saldo-total {
        padding: .9rem;
        background-color: #303030;
        font-size: 1rem;
        border-radius: .4rem;
        width: 20vw;
    }
    
    main .info-container .info-date {
        display: inline-flex;
        align-items: center;
        font-size: .8rem;
        padding: .8rem;
        background-color: #303030;
        border: none;
        border-radius: .3rem;
        font-style: italic;
    }
    
    main .info-container .info-date img {
        margin-right: 1rem;
    }
    
    main button {
        margin-top: 2rem;
        padding: .8rem 1rem;
    }
    
    .background-image {
        display: none;
        height: 50vh;
        justify-self: center;
        align-self: center;
        margin-right: 3rem;
        width: 40vw;
    }
    
}


@media (min-width: 1240px) {
    main .info-container {
        width: 60%;
    }
    .background-image {
        display: block;
    }
}

@media (max-width: 428px) {

    nav {
        display: none;
    }

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
}

.imgHome{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 45vw;
    height: 80vh;
}

.imgHome2{
    margin-top: 10vh;
    width: 45vw;
    height: 80vh;
}

.logoCoover{
    margin-left: 10vw;
    width: 15vw;
    height: 15vh;
}

.logoCoover2{
    margin-top: 20vh;
    margin-left: 12vw;
    width: 15vw;
    height: 15vh;
}

p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

.homeText{
    margin-top: 20vh;
}

.logoMeta{
    width: 3vw;
    height: 5vh;
}

.home{
    display: flex;
}

#metamask{
    display: flex;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;  
    margin-left: 8vw;
}

.textTitulo{
  
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
}

#continuar{
    
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;

    padding: 10px;
  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 9vw;
}
.inputValue{
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 12vw;
}

.inputImei{
    width: 25vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
    margin-left: 12vw;
    margin-top: 2vh;
    text-decoration: none;
    outline: 0;
    padding: 10px;
    font-size: 1.5rem;
}

.text3{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin-left: 12vw;
}

.text{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

button{
    padding: 10px;
    background-color: #00C171;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}