*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
    font-family: 'Roboto', sans-serif;
}

.alinhamentoPage{
    display: flex;
}

nav {
    width: 15vw;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #09090A;
}

nav .logo {
    background-image: url(../../../img/LogoCoover.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    align-self: center;
    height: 4rem;
}

nav input {
    width: 80%;
    align-self: center;
    margin-top: 1.5rem;
    padding: .8rem;
    border: none;
    outline: none;
    border-radius: .7rem;
    background-color: #1F1F22;
    background-image: url(../../../img/search.png);
    background-repeat: no-repeat;
    background-position: .3rem center;
    text-indent: 1.3rem;
}

nav input::placeholder {
    color: #EFEFEF;
    font-size: .8rem;
}

nav ul {
    padding-top: 2rem;
}

nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li .sidebar-dashboard {
    background-image: url(../../../img/sidebar-home.png);
}

nav ul li .sidebar-revenue {
    background-image: url(../../../img/revenue.png);
}

nav ul li .sidebar-notifications {
    background-image: url(../../../img/notifications.png);
}

nav ul li .sidebar-analytics {
    background-image: url(../../../img/analytics.png);
}

nav ul li .sidebar-inventory {
    background-image: url(../../../img/inventory.png);
}

nav ul li a {
    display: inline-flex;
    align-items: center;
    margin: 1rem 0;
    width: 80%;
    font-size: .9rem;
    text-indent: 2.3rem;
    color: #EFEFEF;
    text-decoration: none;
    background-position: .3rem;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .logout {
    background-image: url(../../../img/logout.png);
    background-repeat: no-repeat;
    background-position: .3rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background-color: transparent;
    text-indent: 1.5rem;
}

main {
    padding: 3rem;
}

main h1 {
    font-size: rem;
    color: #F2F2F2;
    display: inline-flex;
    align-items: center ;
}

.alinhamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voltar{
    cursor: pointer;
}

main h1 img {
    height: auto;
    margin-left: 1rem;
    justify-content: space-between;
}

main .input-filter-wrapper {
    width: 50vw;
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
}

main .input-filter-wrapper input {
    background-color: #303033;
    border-radius: .4rem;
    color: #fff;
    width: 100%;
    border: none;
    outline: none;
    background-image: url(../../../img/white-search.png);
    background-repeat: no-repeat;
    background-position: .5rem;
    background-size: .9rem;
    padding: .8rem 3rem .8rem 2rem;
}

main .input-filter-wrapper input::placeholder {
    letter-spacing: 1px;
    color: rgba( 255, 255, 255, .5);
}

main .input-filter-wrapper select {
    background-color: #303033;
    border: none;
    width: 100%;
    padding: .8rem 4rem .8rem .5rem;
    border-radius: .4rem;
    color: #fff;
}

.mobile-titulo {
    font-size: 1.2rem;
    display: none;
    color: #fff;
}

main table {
    width: 100%;
}

main table thead th {
    color: #F2F2F2;
    font-weight: 700;
}

main table tbody tr {
    line-height: 10.9;
} 

main table tbody tr td {
    text-align: center;
    height: min-content;
    line-height: 2rem;
    cursor: pointer;
}

main table thead th:first-of-type, main table tbody tr td:first-of-type {
    text-align: left;
}

main table thead th:last-of-type, main table tbody tr td:last-child {
    text-align: right;
}

main table tbody .seguros-name p {
    font-size: .9rem;
    line-height: .4rem;
    color: #BCBCBC;
}

main table tbody .seguros-name p:first-child {
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 600;
    line-height: 2rem;
    color: #fff;
}

main table tbody .situacao {
    font-size: .9rem;
    font-weight: 600;
    border-radius: 40px;
    line-height: 1.8;
    margin-top: 2rem;
    border: 1px solid #02DE82;
    color: #02DE82;
}

main table tbody tr .data-criacao, main table tbody tr .data-validade {
    font-size: .8rem;
    line-height: 2rem;
    margin-top: 2rem;
}

.background-image {
    display: none;
    height: 45vh;
    justify-self: center;
    align-self: center;
}

.inativo {
    color: #FF5E66 !important;
    border-color: #FF5E66 !important;
}

.em-progresso {
    color: #FFD749 !important;
    border-color: #FFD749 !important;
}

@media (min-width: 1240px) {
    .background-image {
        display: flex;
    }
    
    .alinhamentoTabela{
        height: 300px; 
        overflow-x: auto;
    }

    thead {
        position: absolute;
        top: 0;
        background-color: #222222;
    }
    
    /* Define uma margem superior para o conteúdo da tabela */
    tbody {
        margin-top: 30px;
    }
    
    /* Define a altura da linha de título */
    th {
        height: 30px; 
    }
}

@media (min-width: 320px) and (max-width: 429px) {

    .mobile-titulo {
        display: block;
    }
    
    nav {
        display: none;
    }

    main {
        width: 100%;
    }

    .background-image {
        display: none;
    }

    main .input-filter-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main table {
        width: 100%;
    }

    main table thead, 
    main table tbody tr td:not(:first-child, :nth-child(2)) {
        display: none;
    }

    main table thead th {
        width: fit-content;
    }

    main table tbody {
        width: 100%;
    }
}

#table-container {
    height: 60vh; 
    overflow-y: auto; 
    margin-left: 1rem; 
    margin-top: 1.5rem;
    width: 90vw;
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
}

thead{
    position: sticky;
    top: 0;
}

/* Remove a aparência padrão da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table-container {
    scrollbar-width: thin;
    scrollbar-color: #535353 #8d8d8d;
}

.table-container ::-webkit-scrollbar-track {
    background: #7e7e7e;
}

.table-container ::-webkit-scrollbar-thumb {
    background-color: #373737;
    border-radius: 20px;
    border: 3px solid #696969;
}

.table-container ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
}

.imgHome{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 45vw;
    height: 80vh;
}

.imgHome2{
    margin-top: 10vh;
    width: 45vw;
    height: 80vh;
}

.logoCoover{
    margin-left: 10vw;
    width: 15vw;
    height: 15vh;
}

.logoCoover2{
    margin-top: 20vh;
    margin-left: 12vw;
    width: 15vw;
    height: 15vh;
}

p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

.homeText{
    margin-top: 20vh;
}

.logoMeta{
    width: 3vw;
    height: 5vh;
}

.home{
    display: flex;
}

#metamask{
    display: flex;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;  
    margin-left: 8vw;
}

.textTitulo{
  
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
}

#continuar{
    
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;

    padding: 10px;
  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 9vw;
}
.inputValue{
    margin-top: 5vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 12vw;
}

.inputImei{
    width: 25vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
    margin-left: 12vw;
    margin-top: 2vh;
    text-decoration: none;
    outline: 0;
    padding: 10px;
    font-size: 1.5rem;
}

.text3{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin-left: 12vw;
}

.text{
    margin-top: 3vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

button{
    padding: 10px;
    background-color: #00C171;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}