    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #19191D;
        font-family: 'Roboto', sans-serif;
    }
    
@media (min-width: 320px) and (max-width: 480px) { 


    .navbar{
        display: none;
    }




    .alinhamentoTexto{
        display: flex;
        text-align: center;
    }

    .alinhamentoTextoTitulo{
        display: flex;
        align-items: center;
    }

    .textoTitulo{
        color: #ffffff;
        margin-top: 3.5rem;
        margin-left: 2rem;
    }

    .imgSeta, .imgEthereum{
        margin-left: 2rem;
        margin-top: 2vw;
    }

    .titulo{
        color: #ffffff;
        text-align: left;
        margin-left: 3.5rem;
        margin-top: 2rem;
    }

    .texto{
        color: #ffffff;
        text-align: center;
        margin-left: 1rem;
        margin-top: 2vw;
    }

    .textoOBS{
        color: #ffffff;
        text-align: center;
        margin-left: 1rem;
        margin-top: 1vw;
    }

    .imgSmartContract{
        display: none;
    }


    
    
    .titulosTabela {
        color: #F2F2F2;
        font-weight: 700;
    }
    
    .informacoesTabela {
        line-height: 10.9;
        text-align: center;
        height: min-content;
        line-height: 2rem
    } 
    
    
    

    table {
        width: 85vw;
        margin-left: 1.5rem;
        margin-top: 3rem;
    }
    
    table thead th {
        color: #F2F2F2;
        font-weight: 700;
    }
    
    table tbody tr {
        line-height: 10.9;
    } 
    
    table tbody tr td {
        text-align: center;
        height: min-content;
        line-height: 2rem;
        cursor: pointer;
    }
    
    table thead th:first-of-type, table tbody tr td:first-of-type {
        text-align: left;
    }
    
    table thead th:last-of-type, table tbody tr td:last-child {
        text-align: right;
    }
    
    table tbody .seguros-name p {
        font-size: 9px;
        line-height: .4rem;
        color: #BCBCBC;
    }
    
    table tbody .seguros-name p:first-child {
        margin-top: 1rem;
        font-size: .9rem;
        font-weight: 600;
        line-height: 2rem;
        color: #fff;
    }
    
    table tbody .situacao {
        font-size: .9rem;
        font-weight: 600;
        border-radius: 40px;
        line-height: 1.8;
        margin-top: 2rem;
        border: 1px solid #02DE82;
        color: #02DE82;
    }
    
    table tbody tr .data-criacao, table tbody tr .data-validade {
        font-size: .8rem;
        line-height: 2rem;
        margin-top: 2rem;
        color: #fff;
    }
    
    .background-image {
        display: none;
        height: 45vh;
        justify-self: center;
        align-self: center;
    }
    
    .inativo {
        color: #FF5E66 !important;
        border-color: #FF5E66 !important;
    }
    
    .em-progresso {
        color: #FFD749 !important;
        border-color: #FFD749 !important;
    }


    #table-container {
        height: 60vh; 
        overflow-y: auto; 
        margin-left: 1rem; 
        margin-top: 1.5rem;
        width: 90vw;
        margin-bottom: 1.5rem;
    }
    
    table {
        border-collapse: collapse;
    }
    
    thead{
        position: sticky;
        top: 0;
    }
    
    /* Remove a aparência padrão da barra de rolagem */
    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .table-container {
        scrollbar-width: thin;
        scrollbar-color: #535353 #8d8d8d;
    }
    
    .table-container ::-webkit-scrollbar-track {
        background: #7e7e7e;
    }
    
    .table-container ::-webkit-scrollbar-thumb {
        background-color: #373737;
        border-radius: 20px;
        border: 3px solid #696969;
    }
    
    .table-container ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }


}

@media (min-width: 1024px) and (max-width: 1920px) { 

    .navbar{
        width: 15vw;
        display: flex;
        flex-direction: column;
        background-color: #09090A;
    }

    .logo {
        width: 10vw;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .pesquisa{
        width: 13vw;
        margin-top: 3rem;
        margin-left: 1rem;
        padding: 0.8rem;
        display: flex;
        border: none;
        outline: none;
        border-radius: 8rem;
        background-color: #1F1F22;
    }

    .barraPesquisa{
        background-color: #1F1F22;
        width: 10vw;
        border: none;
        text-indent: 1.3rem;
        color: #EFEFEF;
        font-size: .8rem;
    }

    .opcoesNavbar{
        margin-top: 1.5rem;
        padding-top: 2rem;
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }

    .sidebarInicio, .sidebarSolicitacoes, .sidebarIndenizacoes{
        display: flex;
        margin-bottom: 1.2rem;
    }

    .imgSidebar{
        margin-left: 1.5rem;
    }

    .textoSidebar{
        margin-left: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #EFEFEF;

    }

    .saida {
        margin-top: 22vw;
        background-color: transparent;
        border: none;
        margin-top: 10.5rem;
    }



    .alinhamentoTexto{
        display: flex;
        text-align: center;
    }

    .alinhamentoTextoTitulo{
        display: flex;
        align-items: center;
    }

    .textoTitulo{
        color: #ffffff;
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .imgSeta, .imgEthereum{
        margin-left: 3vw;
        margin-top: 2vw;
    }

    .titulo{
        color: #ffffff;
        text-align: left;
        margin-left: 3vw;
        margin-top: 4vw;
    }

    .texto{
        color: #ffffff;
        text-align: left;
        margin-left: 3vw;
        margin-top: 2vw;
    }

    .textoOBS{
        color: #ffffff;
        text-align: left;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .imgSmartContract{
        width: 25vw;
        height: 60vh;
        margin-left: 5vw;
        margin-top: 10rem;
    }


    
    
    .titulosTabela {
        color: #F2F2F2;
        font-weight: 700;
    }
    
    .informacoesTabela {
        line-height: 10.9;
        text-align: center;
        height: min-content;
        line-height: 2rem
    } 
    
    
    

    table {
        width: 50vw;
        margin-left: 2rem;
    }
    
    table thead th {
        color: #F2F2F2;
        font-weight: 700;
    }
    
    table tbody tr {
        line-height: 10.9;
    } 
    
    table tbody tr td {
        text-align: center;
        height: min-content;
        line-height: 2rem;
        cursor: pointer;
    }
    
    table thead th:first-of-type, table tbody tr td:first-of-type {
        text-align: left;
    }
    
    table thead th:last-of-type, table tbody tr td:last-child {
        text-align: right;
    }
    
    table tbody .seguros-name p {
        font-size: .9rem;
        line-height: .4rem;
        color: #BCBCBC;
    }
    
    table tbody .seguros-name p:first-child {
        margin-top: 1rem;
        font-size: .9rem;
        font-weight: 600;
        line-height: 2rem;
        color: #fff;
    }
    
    table tbody .situacao {
        font-size: .9rem;
        font-weight: 600;
        border-radius: 40px;
        line-height: 1.8;
        margin-top: 2rem;
        border: 1px solid #02DE82;
        color: #02DE82;
    }
    
    table tbody tr .data-criacao, table tbody tr .data-validade {
        font-size: .8rem;
        line-height: 2rem;
        margin-top: 2rem;
        color: #fff;
    }
    
    .background-image {
        display: none;
        height: 45vh;
        justify-self: center;
        align-self: center;
    }
    
    .inativo {
        color: #FF5E66 !important;
        border-color: #FF5E66 !important;
    }
    
    .em-progresso {
        color: #FFD749 !important;
        border-color: #FFD749 !important;
    }


    #table-container {
        height: 60vh; 
        overflow-y: auto; 
        margin-left: 1rem; 
        margin-top: 1.5rem;
        width: 90vw;
        margin-bottom: 1.5rem;
    }
    
    table {
        border-collapse: collapse;
    }
    
    thead{
        position: sticky;
        top: 0;
    }
    
    /* Remove a aparência padrão da barra de rolagem */
    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .table-container {
        scrollbar-width: thin;
        scrollbar-color: #535353 #8d8d8d;
    }
    
    .table-container ::-webkit-scrollbar-track {
        background: #7e7e7e;
    }
    
    .table-container ::-webkit-scrollbar-thumb {
        background-color: #373737;
        border-radius: 20px;
        border: 3px solid #696969;
    }
    
    .table-container ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    




    
}

